@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.bodoni-moda-sc{
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar-1 h1{
   margin-right: auto;
}

#navbar-1{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:#680c0c ;
    color:white
    
}

#navbar-2{
    background:#d6cdcd;
  
    display:flex;
    justify-content: center;
    align-items:center;
}

#navbar-2 a{
color:Black;
    margin-right:auto;
}

#navbar-2 a:hover{
background-color: gray;
}

#hero-1{
    background-image: url("../images/Burger.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end;
    position: relative;
    color: white;
}

#hero-1 h1{
    font-size: 50px;
    position: absolute;
    right:20%;
    bottom:50%;
}

#hero-1 a{
    font-size:14px;
    display: inline-block;
    background-color:white;
    color:#380101;
    text-decoration:none;
    padding:24px;
    position:absolute;
    right:50%;
    bottom:41%;

}
#hero-1 a:hover{
    background-color: lightgrey;
    color: black;
}
#navbar-3{
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white
}

#navbar-4{
    background-color:#8e1600;
    color:white;
    margin-top:0px;
    margin-bottom:0px;
    padding:20px;
}
#navbar-5{
    background-color:gray;
    color:white;
    margin-top:0px;
    margin-bottom:0px;
    padding:20px;
}

#navbar-5 a{
    color:#680c0c;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid #380101;
    transition:
        background-color .5s,
        color .5s;
}

#navbar-5 a:hover{
    background-color:lightgray;
}

.grid-layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "item1 item2"
    "item3 item4";
    gap:15px;
    margin-top:15px;
    margin-right:auto;
    margin-left:auto;
    max-width:1000px;
}
.item1{
    grid-area:item1;
}
.item2{
    grid-area:item2;
}
.item3{
    grid-area:item3;
}
.item4{
    grid-area:item4;
}
.card{
    width:350px;
    border:2px soid lightgray;
    padding:10px;
    box-shadow:-4px 4px 12px lightgray;
    display:flex;
    flex-direction:column;
    min-height:500px;
}
.card img{
    width:100%;
    height:250px;
    object-fit:cover;
}
.card h2{
    font-size:20px;
    margin-top:12px;
    margin-bottom:0px;
}

.card a{
    color:#680c0c;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #380101;
    transition:
        background-color .5s,
        color .5s;
}
.card a.customize {
    margin-top: 15px;
    color: black;
    background-color: transparent;
}
 
.card a:hover {
    background-color: transparent;
    color: black;
}
 
.card a.customize:hover {
    margin-top: 15px;
    color: white;
    background-color: #680c0c;
}
 
.card p {
    font-size: 18px;
    flex: 1;
}
 
@media screen and (max-width: 800px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4";
        max-width: 800px;
        gap: 15px;
        margin-top: 15px;
    }
}
 
#navbar-2 a:hover {
    color: white;
}

#navbar-1 a{
    text-decoration:none;
    color:white;
    margin-right:auto;
}